<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.borealkiss.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>	
		<key>AppDelegate/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>AppDelegate</string>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.h</string>
		</dict>
		<key>AppDelegate/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>AppDelegate</string>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.m</string>
		</dict>
		<key>TestVC/TestVC.h</key>
		<dict>
			<key>Group</key>
			<string>TestVC</string>
			<key>Path</key>
			<string>TestVC/TestVC.h</string>
		</dict>
		<key>TestVC/TestVC.m</key>
		<dict>
			<key>Group</key>
			<string>TestVC</string>
			<key>Path</key>
			<string>TestVC/TestVC.m</string>
		</dict>
		<key>TestVC/TestVC.xib</key>
		<dict>
			<key>Group</key>
			<string>TestVC</string>
			<key>Path</key>
			<string>TestVC/TestVC.xib</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for any application. It provides just an application delegate and a window.</string>
	<key>Identifier</key>
	<string>com.borealkiss.windowBasedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist</string>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>AppDelegate/AppDelegate.h</string>
		<string>AppDelegate/AppDelegate.m</string>
		<string>TestVC/TestVC.h</string>
		<string>TestVC/TestVC.m</string>
		<string>TestVC/TestVC.xib</string>
	</array>
</dict>
</plist>
